*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 0, 247);
    background-color: transparent;
}

ul{
    display: flex;
    justify-content: center;
  
}
nav ul li{
    margin: 8px;
    list-style: none;
}
nav ul li a, .form input[type=submit]{
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    /* border: 1px solid black;
    border-radius: 4px; */
    transition: .5s;    
}
nav ul li a:hover, .form input[type=submit]:hover{
    background-color: rgb(240, 95, 213);
    color: black;
}
.container{
    margin: 40px 0;
}
.form{
    border: 1px solid;
    max-width: 960px;
    padding: 80px;
    margin: 0 auto;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input{
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid;
    outline: transparent;
    font-size: 16px;
    caret-color: violet;
    color: violet;
}   
.form input[type="submit"]{
    background-color: rgb(186, 5, 222);
    color: white;
    padding: 4px 8px;

}
.form input[type="submit"]{
    cursor: pointer;
    display: block;
    margin: 32px auto 0;
}

.medias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.medias img, .medias iframe{
    width: 100%;
    
    object-fit: cover;

}
@media screen and (max-width: 576px){
 .medias{
    grid-template-columns: 1fr;
 }
 .medias, .medias iframe{
    width: 100%;
    margin: 0 auto;
 }
}